<section data-ng-controller="HomeController">
  <div class="page-header">
    <h1>Contact Us</h1>
  </div>
  <div class="sociallinks"><a target="_blank" href="https://www.facebook.com/elfreports"><img width="20%" height="20%" src="/modules/core/img/facebook.jpg" /></a></div>
  <div class="emaillink">Email: <a href="mailto:support@elfreports.com">support@elfreports.com</a></div>
  <div>Please contact us with any questions or comments on our facebook page or by sending us an email.</div>
</section>
