<section class="row" data-ng-controller="HomeController">
 <div class="page-header">
  <h1>Help</h1>
 </div>
 <div>We thought the easiest way to show you how to use our site is with videos. If your question is not answered by one of the videos below  please send us an email at <a href="mailto:support@elfreports.com">support@elfreports.com</a></div>
 <div class="public-videos">
  <p><iframe width="420" height="315" src="//www.youtube.com/embed/-uoxsG9NBgo" frameborder="0" allowfullscreen></iframe></p>
  <p><iframe width="420" height="315" src="//www.youtube.com/embed/k_p6xF5cX6g" frameborder="0" allowfullscreen></iframe></p>
 </div>
 <div class="elf-vids">The elf help videos are only available if your elf is logged in.</div>
 <div ng-show="authentication.isElfSignedin()" class="elf-vids">
  <p><iframe width="420" height="315" src="//www.youtube.com/embed/wtYqqbHbTx8" frameborder="0" allowfullscreen></iframe></p>
 </div>
</section>
