<section data-ng-controller="HomeController">
  <div class="page-header">
    <h1>Mobile Apps</h1>
  </div>
  <div>
    <span class="pull-left">
      <p>Android apps can be insatlled using the links below.</p>
      <p>
        <a href="https://play.google.com/store/apps/details?id=com.matuckcomputing.elfreports">
          <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
        </a>
      </p>
      <p>
        <a href="http://www.amazon.com/gp/product/B00Q4ZXCGE/ref=mas_pm_elf_reports">
          <img alt="Android app on Amazon" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonMobileApps/amazon-apps-store-us-black.png" />
        </a>
      </p>
    </span>
    <span class="pull-left" style="margin-left: 20px;">
      <p>We are still going through the approval process for iOS apps.</p>
      <p>
        <img width="300px" height="300px" src="/modules/core/img/ios-apple-logo.png" /></div>
      </p>
    </span>
</section>
