<section data-ng-controller="ChildrenController" data-ng-init="findOne()">
	<div class="page-header">
		<div>
			<h1 data-ng-bind="child.name"></h1>
			<div class="childgraph pull-right">
				<form>
					<div class="naughtymeter">
						<span class="naughtymeter">Naughty</span>
						<span class="naughtymeter naughtymeter-meter">
							<input type="range" name="percent" id="percent" min="0" max="100" ng-model="child.percent" ng-mouseup="changePercent(child)" value="{{child.percent}}" />
						</span>
						<span class="naughtymeter">Nice</span>
					</div>
				</form>
			</div>
		</div>
		<div class="christmaslist">
			Christmas List:
			<div class="listitems" data-ng-repeat="item in child.list">
				<div class="item">{{item.name}} <span class="affiliatelinks" ng-if="authentication.isElfSignedin()"><a target="_blank" href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords={{item.name}}&tag=elfreports-20"><img src="/modules/children/img/buyfromamazon.gif" /></a></span>
					<a class="btn btn-primary" data-ng-click="removeitem(item);">
						<i class="glyphicon glyphicon-trash"></i>
					</a></div>
			</div>
			<div class="listform col-md-12">
				<form class="form-horizontal" data-ng-submit="additem()" novalidate>
					<fieldset>
						<div class="form-group">
							<div class="controls">
								<input type="text" data-ng-model="item" id="item" class="form-control" placeholder="Item" required>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-default" value="Add Item">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="notes">
			Notes:
			<div ng-repeat="note in child.notes">
				<div class="note" ng-class="(note.good) ? 'goodnote' : 'badnote'">
						<div class="pull-right" data-ng-show="authentication.isElfSignedin()">
							<a class="btn btn-primary" href="/#!/children/{{child._id}}/notes/{{note._id}}/edit">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<a class="btn btn-primary" data-ng-click="removenote(note);">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</div>
	       		<div>
	       			<span>{{note.created|date : 'MM/dd/yyyy'}}</span>
	       			{{note.text}}
	       		</div>
				</div>
	    	</div>
    	</div>
			<div class="addnoteform" data-ng-show="authentication.isElfSignedin()">
				<form class="form-horizontal" data-ng-submit="addnote()" novalidate>
					<fieldset>
						<div class="form-group">
							<div class="controls">
								<label><input type="checkbox" data-ng-model="good" id="good" class="form-control">Good</label>
								<textarea data-ng-model="note" id="note" class="form-control" placeholder="Note" required></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-default" value="Add Note">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
	<div class="pull-right" data-ng-show="authentication.isElfSignedin()">
		<a class="btn btn-primary" href="/#!/children/{{child._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
