<section data-ng-controller="ChildrenController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="child.name"></h1>
		<div class="childgraph" data-ng-bind="child.percent"></div>
		<div class="christmaslist">
			Christmas List:
			<div class="listitems" data-ng-repeat="item in child.list">
				<div class="item">{{item.name}}</div>
			</div>
		</div>
		<div class="notes">
			Notes:
			<div ng-repeat="note in child.notes"> 
	       		<div class="note">
	       			<span>{{note.created}}</span>
	       			{{note.text}}
	       		</div>
	    	</div>
    	</div>
	</div>
	<div class="pull-right" data-ng-show="authentication.isElfSignedin()">
		<a class="btn btn-primary" href="/#!/children/{{child._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>